.errorContainer {
	height: 30vh;
	width: 60vw;
	margin: 0 auto;
	border: 1px dashed #646cff;
	border-radius: 12px;
	padding: 20px;
	display: flex;
	justify-content: center;
	place-items: center;
}

.errorText {
	text-transform: uppercase;
	font-size: 1.5em;
	color: #646cff;
}

.errorIcon {
	width: 10em;
	height: 10em;
	color: orangered;
}
